src/main/resources/iso-all/messages_urn_iso_std_iso_20022_tech_xsd_camt.028.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:if="urn:iso:std:iso:20022:tech:xsd:camt.028.001.09"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.028.001.09"
    elementFormDefault="qualified">
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="if:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="if:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalPaymentInformationV09_DRAFT">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Assgnmt" type="if:CaseAssignment5"/>
      <xs:element name="Case" type="if:Case5"/>
      <xs:element name="Undrlyg" type="if:UnderlyingTransaction5Choice"/>
      <xs:element name="Inf" type="if:PaymentComplementaryInformation8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalPaymentInformationV09_DRAFT_TCH">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Assgnmt" type="if:CaseAssignment5_TCH"/>
      <xs:element name="Case" type="if:Case5_TCH"/>
      <xs:element name="Undrlyg" type="if:UnderlyingTransaction5Choice_TCH"/>
      <xs:element name="Inf" type="if:PaymentComplementaryInformation8_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="if:FinancialInstitutionIdentification16"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="if:FinancialInstitutionIdentification16_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case5">
    <xs:sequence>
      <xs:element name="Id" type="if:Max35Text"/>
      <xs:element name="Cretr" type="if:Party39Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case5_TCH">
    <xs:sequence>
      <xs:element name="Id" type="if:Max35Text"/>
      <xs:element name="Cretr" type="if:Party39Choice_TCH_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment5">
    <xs:sequence>
      <xs:element name="Id" type="if:Max35Text"/>
      <xs:element name="Assgnr" type="if:Party39Choice"/>
      <xs:element name="Assgne" type="if:Party39Choice"/>
      <xs:element name="CreDtTm" type="if:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment5_TCH">
    <xs:sequence>
      <xs:element name="Id" type="if:Max35Text_TCH"/>
      <xs:element name="Assgnr" type="if:Party39Choice_TCH"/>
      <xs:element name="Assgne" type="if:Party39Choice_TCH"/>
      <xs:element name="CreDtTm" type="if:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="if:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="PhneNb" type="if:PhoneNumber" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTime2Choice">
    <xs:choice>
      <xs:element name="Dt" type="if:ISODate"/>
      <xs:element name="DtTm" type="if:ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="if:ISODate"/>
      <xs:element name="CityOfBirth" type="if:Max35Text"/>
      <xs:element name="CtryOfBirth" type="if:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1">
    <xs:sequence>
      <xs:element name="Tp" type="if:DiscountAmountType1Choice" minOccurs="0"/>
      <xs:element name="Amt" type="if:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="if:DiscountAmountType1Choice_TCH"/>
      <xs:element name="Amt" type="if:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="if:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice_TCH">
    <xs:choice>
      <xs:element name="Prtry" type="if:Max35Text_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="AddtlPmtInf" type="if:AdditionalPaymentInformationV09_DRAFT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="AddtlPmtInf" type="if:AdditionalPaymentInformationV09_DRAFT_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification16">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="if:ClearingSystemMemberIdentification2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification16_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="if:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="if:Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DSCT"/>
      <xs:enumeration value="FULL"/>
      <xs:enumeration value="ORIG"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Min9Max9Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="LEI" type="if:LEIIdentifier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH">
    <xs:sequence>
      <xs:element name="LEI" type="if:LEIIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrigMsgName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acmt.022.001.02"/>
      <xs:enumeration value="admi.002.001.01"/>
      <xs:enumeration value="admi.004.001.02"/>
      <xs:enumeration value="admn.001.001.01"/>
      <xs:enumeration value="admn.002.001.01"/>
      <xs:enumeration value="admn.003.001.01"/>
      <xs:enumeration value="admn.004.001.01"/>
      <xs:enumeration value="admn.005.001.01"/>
      <xs:enumeration value="admn.006.001.01"/>
      <xs:enumeration value="admn.007.001.01"/>
      <xs:enumeration value="admn.008.001.01"/>
      <xs:enumeration value="camt.026.001.05"/>
      <xs:enumeration value="camt.026.001.07"/>
      <xs:enumeration value="camt.028.001.06"/>
      <xs:enumeration value="camt.028.001.09"/>
      <xs:enumeration value="camt.029.001.06"/>
      <xs:enumeration value="camt.029.001.09"/>
      <xs:enumeration value="camt.035.001.03"/>
      <xs:enumeration value="camt.035.001.05"/>
      <xs:enumeration value="camt.056.001.05"/>
      <xs:enumeration value="camt.056.001.08"/>
      <xs:enumeration value="pacs.002.001.07"/>
      <xs:enumeration value="pacs.002.001.10"/>
      <xs:enumeration value="pacs.008.001.06"/>
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:enumeration value="pacs.009.001.08"/>
      <xs:enumeration value="pacs.028.001.02"/>
      <xs:enumeration value="pain.013.001.05"/>
      <xs:enumeration value="pain.013.001.07"/>
      <xs:enumeration value="pain.014.001.05"/>
      <xs:enumeration value="pain.014.001.07"/>
      <xs:enumeration value="remt.001.001.02"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrigMsgName_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pain.013.001.07"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrigMsgName_TCH_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="if:OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="if:PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH">
    <xs:choice>
      <xs:element name="OrgId" type="if:OrganisationIdentification29_TCH"/>
      <xs:element name="PrvtId" type="if:PersonIdentification13_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_2">
    <xs:choice>
      <xs:element name="OrgId" type="if:OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="if:PersonIdentification13_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_3">
    <xs:choice>
      <xs:element name="OrgId" type="if:OrganisationIdentification29_TCH"/>
      <xs:element name="PrvtId" type="if:PersonIdentification13_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_4">
    <xs:choice>
      <xs:element name="OrgId" type="if:OrganisationIdentification29_TCH"/>
      <xs:element name="PrvtId" type="if:PersonIdentification13_TCH_3"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice">
    <xs:choice>
      <xs:element name="Pty" type="if:PartyIdentification135"/>
      <xs:element name="Agt" type="if:BranchAndFinancialInstitutionIdentification6"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice_TCH">
    <xs:choice>
      <xs:element name="Agt" type="if:BranchAndFinancialInstitutionIdentification6_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice_TCH_2">
    <xs:choice>
      <xs:element name="Pty" type="if:PartyIdentification135_TCH"/>
      <xs:element name="Agt" type="if:BranchAndFinancialInstitutionIdentification6_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="if:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="if:PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="if:Party38Choice" minOccurs="0"/>
      <xs:element name="CtctDtls" type="if:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH">
    <xs:sequence>
      <xs:element name="Nm" type="if:Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_2">
    <xs:sequence>
      <xs:element name="Nm" type="if:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="if:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="if:Party38Choice_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_3">
    <xs:sequence>
      <xs:element name="Nm" type="if:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="if:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="if:Party38Choice_TCH_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_4">
    <xs:sequence>
      <xs:element name="Nm" type="if:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="if:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="if:Party38Choice_TCH_3" minOccurs="0"/>
      <xs:element name="CtctDtls" type="if:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_5">
    <xs:sequence>
      <xs:element name="Nm" type="if:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="if:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="if:Party38Choice_TCH_4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentComplementaryInformation8">
    <xs:sequence>
      <xs:element name="InstrId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="TxId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="if:PartyIdentification135" minOccurs="0"/>
      <xs:element name="Dbtr" type="if:PartyIdentification135" minOccurs="0"/>
      <xs:element name="Cdtr" type="if:PartyIdentification135" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="if:PartyIdentification135" minOccurs="0"/>
      <xs:element name="RmtInf" type="if:RemittanceInformation16" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentComplementaryInformation8_TCH">
    <xs:sequence>
      <xs:element name="InstrId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="TxId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="if:PartyIdentification135_TCH_2" minOccurs="0"/>
      <xs:element name="Dbtr" type="if:PartyIdentification135_TCH_3" minOccurs="0"/>
      <xs:element name="Cdtr" type="if:PartyIdentification135_TCH_4" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="if:PartyIdentification135_TCH_5" minOccurs="0"/>
      <xs:element name="RmtInf" type="if:RemittanceInformation16_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="if:DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="if:GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH">
    <xs:sequence>
      <xs:element name="Othr" type="if:GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH_2">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="if:DateAndPlaceOfBirth1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH_3">
    <xs:sequence>
      <xs:element name="Othr" type="if:GenericPersonIdentification1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="StrtNm" type="if:Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="if:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="if:Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="if:CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="if:Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress24_TCH">
    <xs:sequence>
      <xs:element name="StrtNm" type="if:Max70Text"/>
      <xs:element name="BldgNb" type="if:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="if:Max16Text"/>
      <xs:element name="TwnNm" type="if:Max35Text"/>
      <xs:element name="CtrySubDvsn" type="if:Max35Text"/>
      <xs:element name="Ctry" type="if:CountryCode"/>
      <xs:element name="AdrLine" type="if:Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2">
    <xs:sequence>
      <xs:element name="DscntApldAmt" type="if:DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2_TCH">
    <xs:sequence>
      <xs:element name="DscntApldAmt" type="if:DiscountAmountAndType1_TCH" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16">
    <xs:sequence>
      <xs:element name="Ustrd" type="if:Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="if:StructuredRemittanceInformation16" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16_TCH">
    <xs:sequence>
      <xs:element name="Ustrd" type="if:Max140Text" minOccurs="0" maxOccurs="20"/>
      <xs:element name="Strd" type="if:StructuredRemittanceInformation16_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16">
    <xs:sequence>
      <xs:element name="RfrdDocAmt" type="if:RemittanceAmount2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16_TCH">
    <xs:sequence>
      <xs:element name="RfrdDocAmt" type="if:RemittanceAmount2_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingGroupInformation1">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="if:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="if:OrigMsgName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingGroupInformation1_TCH">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="if:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="if:OrigMsgName_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingGroupInformation1_TCH_2">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="if:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="if:OrigMsgName_TCH_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingPaymentInstruction5">
    <xs:sequence>
      <xs:element name="OrgnlGrpInf" type="if:UnderlyingGroupInformation1" minOccurs="0"/>
      <xs:element name="OrgnlPmtInfId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlInstdAmt" type="if:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="ReqdExctnDt" type="if:DateAndDateTime2Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingPaymentInstruction5_TCH">
    <xs:sequence>
      <xs:element name="OrgnlGrpInf" type="if:UnderlyingGroupInformation1_TCH"/>
      <xs:element name="OrgnlPmtInfId" type="if:Max35Text"/>
      <xs:element name="OrgnlEndToEndId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlInstdAmt" type="if:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="ReqdExctnDt" type="if:DateAndDateTime2Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingPaymentTransaction4">
    <xs:sequence>
      <xs:element name="OrgnlGrpInf" type="if:UnderlyingGroupInformation1" minOccurs="0"/>
      <xs:element name="OrgnlInstrId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlIntrBkSttlmAmt" type="if:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="OrgnlIntrBkSttlmDt" type="if:ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingPaymentTransaction4_TCH">
    <xs:sequence>
      <xs:element name="OrgnlGrpInf" type="if:UnderlyingGroupInformation1_TCH_2"/>
      <xs:element name="OrgnlInstrId" type="if:Max35Text"/>
      <xs:element name="OrgnlEndToEndId" type="if:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="if:Max35Text"/>
      <xs:element name="OrgnlIntrBkSttlmAmt" type="if:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="OrgnlIntrBkSttlmDt" type="if:ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction5Choice">
    <xs:choice>
      <xs:element name="Initn" type="if:UnderlyingPaymentInstruction5"/>
      <xs:element name="IntrBk" type="if:UnderlyingPaymentTransaction4"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction5Choice_TCH">
    <xs:choice>
      <xs:element name="Initn" type="if:UnderlyingPaymentInstruction5_TCH"/>
      <xs:element name="IntrBk" type="if:UnderlyingPaymentTransaction4_TCH"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
