src/main/resources/iso-all/messages_urn_iso_std_iso_20022_tech_xsd_pain.013.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:pr="urn:iso:std:iso:20022:tech:xsd:pain.013.001.07"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.013.001.07"
    elementFormDefault="qualified">
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="Othr" type="pr:GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="pr:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="pr:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType4Choice">
    <xs:choice>
      <xs:element name="InstdAmt" type="pr:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="pr:FinancialInstitutionIdentification16"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="pr:FinancialInstitutionIdentification16_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38">
    <xs:sequence>
      <xs:element name="Id" type="pr:AccountIdentification4Choice"/>
      <xs:element name="Prxy" type="pr:ProxyAccountIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:AccountIdentification4Choice"/>
      <xs:element name="Prxy" type="pr:ProxyAccountIdentification1_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38_TCH_2">
    <xs:sequence>
      <xs:element name="Id" type="pr:AccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:CatePurpProp"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="CatePurpProp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BUSINESS"/>
      <xs:enumeration value="CONSUMER"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRED"/>
      <xs:enumeration value="DEBT"/>
      <xs:enumeration value="SHAR"/>
      <xs:enumeration value="SLEV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeBearerType1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SLEV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="pr:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="PhneNb" type="pr:PhoneNumber" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorPaymentActivationRequestV07_DRAFT">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="pr:GroupHeader78"/>
      <xs:element name="PmtInf" type="pr:PaymentInstruction31"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorPaymentActivationRequestV07_DRAFT_TCH">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="pr:GroupHeader78_TCH"/>
      <xs:element name="PmtInf" type="pr:PaymentInstruction31_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction35">
    <xs:sequence>
      <xs:element name="PmtId" type="pr:PaymentIdentification6"/>
      <xs:element name="PmtTpInf" type="pr:PaymentTypeInformation26" minOccurs="0"/>
      <xs:element name="PmtCond" type="pr:PaymentCondition1" minOccurs="0"/>
      <xs:element name="Amt" type="pr:AmountType4Choice"/>
      <xs:element name="ChrgBr" type="pr:ChargeBearerType1Code"/>
      <xs:element name="CdtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="Cdtr" type="pr:PartyIdentification135"/>
      <xs:element name="CdtrAcct" type="pr:CashAccount38" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="pr:PartyIdentification135" minOccurs="0"/>
      <xs:element name="InstrForCdtrAgt" type="pr:InstructionForCreditorAgent2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RltdRmtInf" type="pr:RemittanceLocation5" minOccurs="0" maxOccurs="10"/>
      <xs:element name="RmtInf" type="pr:RemittanceInformation16" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction35_TCH">
    <xs:sequence>
      <xs:element name="PmtId" type="pr:PaymentIdentification6"/>
      <xs:element name="PmtTpInf" type="pr:PaymentTypeInformation26_TCH"/>
      <xs:element name="PmtCond" type="pr:PaymentCondition1" minOccurs="0"/>
      <xs:element name="Amt" type="pr:AmountType4Choice"/>
      <xs:element name="ChrgBr" type="pr:ChargeBearerType1Code_TCH"/>
      <xs:element name="CdtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="Cdtr" type="pr:PartyIdentification135_TCH_4"/>
      <xs:element name="CdtrAcct" type="pr:CashAccount38_TCH_2"/>
      <xs:element name="UltmtCdtr" type="pr:PartyIdentification135_TCH_5" minOccurs="0"/>
      <xs:element name="InstrForCdtrAgt" type="pr:InstructionForCreditorAgent2_TCH" minOccurs="0" maxOccurs="5"/>
      <xs:element name="RltdRmtInf" type="pr:RemittanceLocation5_TCH" minOccurs="0"/>
      <xs:element name="RmtInf" type="pr:RemittanceInformation16_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTime2Choice">
    <xs:choice>
      <xs:element name="Dt" type="pr:ISODate"/>
      <xs:element name="DtTm" type="pr:ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="pr:ISODate"/>
      <xs:element name="CityOfBirth" type="pr:Max35Text"/>
      <xs:element name="CtryOfBirth" type="pr:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1">
    <xs:sequence>
      <xs:element name="Tp" type="pr:DiscountAmountType1Choice" minOccurs="0"/>
      <xs:element name="Amt" type="pr:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="pr:DiscountAmountType1Choice_TCH"/>
      <xs:element name="Amt" type="pr:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice_TCH">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text_TCH_3"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="CdtrPmtActvtnReq" type="pr:CreditorPaymentActivationRequestV07_DRAFT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="CdtrPmtActvtnReq" type="pr:CreditorPaymentActivationRequestV07_DRAFT_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SDVA"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification16">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="pr:ClearingSystemMemberIdentification2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification16_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="pr:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max34Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader78">
    <xs:sequence>
      <xs:element name="MsgId" type="pr:Max35Text"/>
      <xs:element name="CreDtTm" type="pr:ISODateTime"/>
      <xs:element name="NbOfTxs" type="pr:Max15NumericText"/>
      <xs:element name="InitgPty" type="pr:PartyIdentification135"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader78_TCH">
    <xs:sequence>
      <xs:element name="MsgId" type="pr:Max35Text_TCH"/>
      <xs:element name="CreDtTm" type="pr:ISODateTime"/>
      <xs:element name="NbOfTxs" type="pr:Max15NumericText"/>
      <xs:element name="InitgPty" type="pr:PartyIdentification135_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Instruction5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PHOB"/>
      <xs:enumeration value="PRTK"/>
      <xs:enumeration value="TELB"/>
      <xs:enumeration value="TOKN"/>
      <xs:enumeration value="VLTK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Instruction5Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRTK"/>
      <xs:enumeration value="TOKN"/>
      <xs:enumeration value="VLTK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionForCreditorAgent2">
    <xs:sequence>
      <xs:element name="Cd" type="pr:Instruction5Code" minOccurs="0"/>
      <xs:element name="InstrInf" type="pr:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionForCreditorAgent2_TCH">
    <xs:sequence>
      <xs:element name="Cd" type="pr:Instruction5Code_TCH"/>
      <xs:element name="InstrInf" type="pr:Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:LocalProp"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_TCH">
    <xs:choice>
      <xs:element name="Prtry" type="pr:LocalProp_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="LocalProp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FOREIGN AFFILIATE"/>
      <xs:enumeration value="INTERMEDIARY"/>
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ZELLE"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LocalProp_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INTERMEDIARY"/>
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ZELLE"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_3">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DSCT"/>
      <xs:enumeration value="FULL"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Min9Max9Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="LEI" type="pr:LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="pr:GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH">
    <xs:sequence>
      <xs:element name="Othr" type="pr:GenericOrganisationIdentification1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH_2">
    <xs:sequence>
      <xs:element name="LEI" type="pr:LEIIdentifier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH_3">
    <xs:sequence>
      <xs:element name="LEI" type="pr:LEIIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_2">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH_2"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_3">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH_3"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_4">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH_3"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13_TCH_3"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice" minOccurs="0"/>
      <xs:element name="CtctDtls" type="pr:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:Party38Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_2">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice_TCH_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_3">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice_TCH_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_4">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice_TCH_2" minOccurs="0"/>
      <xs:element name="CtctDtls" type="pr:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_5">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice_TCH_4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCondition1">
    <xs:sequence>
      <xs:element name="AmtModAllwd" type="pr:TrueFalseIndicator"/>
      <xs:element name="EarlyPmtAllwd" type="pr:TrueFalseIndicator"/>
      <xs:element name="GrntedPmtReqd" type="pr:TrueFalseIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6">
    <xs:sequence>
      <xs:element name="InstrId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="pr:Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction31">
    <xs:sequence>
      <xs:element name="PmtInfId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="PmtMtd" type="pr:PaymentMethod7Code"/>
      <xs:element name="ReqdExctnDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="XpryDt" type="pr:DateAndDateTime2Choice" minOccurs="0"/>
      <xs:element name="Dbtr" type="pr:PartyIdentification135"/>
      <xs:element name="DbtrAcct" type="pr:CashAccount38" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="UltmtDbtr" type="pr:PartyIdentification135" minOccurs="0"/>
      <xs:element name="CdtTrfTx" type="pr:CreditTransferTransaction35" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction31_TCH">
    <xs:sequence>
      <xs:element name="PmtInfId" type="pr:Max35Text_TCH_2"/>
      <xs:element name="PmtMtd" type="pr:PaymentMethod7Code_TCH"/>
      <xs:element name="ReqdExctnDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="XpryDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="Dbtr" type="pr:PartyIdentification135_TCH_2"/>
      <xs:element name="DbtrAcct" type="pr:CashAccount38_TCH"/>
      <xs:element name="DbtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="UltmtDbtr" type="pr:PartyIdentification135_TCH_3" minOccurs="0"/>
      <xs:element name="CdtTrfTx" type="pr:CreditTransferTransaction35_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentMethod7Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="TRF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentMethod7Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTypeInformation26">
    <xs:sequence>
      <xs:element name="SvcLvl" type="pr:ServiceLevel8Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="LclInstrm" type="pr:LocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="pr:CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation26_TCH">
    <xs:sequence>
      <xs:element name="SvcLvl" type="pr:ServiceLevel8Choice_TCH"/>
      <xs:element name="LclInstrm" type="pr:LocalInstrument2Choice_TCH"/>
      <xs:element name="CtgyPurp" type="pr:CategoryPurpose1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="pr:DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="pr:GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="pr:DateAndPlaceOfBirth1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH_2">
    <xs:sequence>
      <xs:element name="Othr" type="pr:GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH_3">
    <xs:sequence>
      <xs:element name="Othr" type="pr:GenericPersonIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="StrtNm" type="pr:Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="pr:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="pr:Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="pr:CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="pr:Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress24_TCH">
    <xs:sequence>
      <xs:element name="StrtNm" type="pr:Max70Text"/>
      <xs:element name="BldgNb" type="pr:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="pr:Max16Text"/>
      <xs:element name="TwnNm" type="pr:Max35Text"/>
      <xs:element name="CtrySubDvsn" type="pr:Max35Text"/>
      <xs:element name="Ctry" type="pr:CountryCode"/>
      <xs:element name="AdrLine" type="pr:Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProxyAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max2048Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProxyAccountIdentification1_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max2048Text_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2">
    <xs:sequence>
      <xs:element name="DscntApldAmt" type="pr:DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2_TCH">
    <xs:sequence>
      <xs:element name="DscntApldAmt" type="pr:DiscountAmountAndType1_TCH" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16">
    <xs:sequence>
      <xs:element name="Ustrd" type="pr:Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="pr:StructuredRemittanceInformation16" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16_TCH">
    <xs:sequence>
      <xs:element name="Ustrd" type="pr:Max140Text" minOccurs="0"/>
      <xs:element name="Strd" type="pr:StructuredRemittanceInformation16_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation5">
    <xs:sequence>
      <xs:element name="RmtId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="RmtLctnDtls" type="pr:RemittanceLocationDetails2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation5_TCH">
    <xs:sequence>
      <xs:element name="RmtId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="RmtLctnDtls" type="pr:RemittanceLocationDetails2_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocationDetails2">
    <xs:sequence>
      <xs:element name="Mtd" type="pr:RemittanceLocationMethod2Code"/>
      <xs:element name="ElctrncAdr" type="pr:Max2048Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocationDetails2_TCH">
    <xs:sequence>
      <xs:element name="Mtd" type="pr:RemittanceLocationMethod2Code_TCH"/>
      <xs:element name="ElctrncAdr" type="pr:Max2048Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RemittanceLocationMethod2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDIC"/>
      <xs:enumeration value="EMAL"/>
      <xs:enumeration value="FAXI"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="SMSM"/>
      <xs:enumeration value="URID"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RemittanceLocationMethod2Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAL"/>
      <xs:enumeration value="URID"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:choice>
      <xs:element name="Cd" type="pr:ExternalServiceLevel1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="pr:ExternalServiceLevel1Code_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16">
    <xs:sequence>
      <xs:element name="RfrdDocAmt" type="pr:RemittanceAmount2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16_TCH">
    <xs:sequence>
      <xs:element name="RfrdDocAmt" type="pr:RemittanceAmount2_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
