src/main/resources/iso-all/messages_urn_iso_std_iso_20022_tech_xsd_camt.029.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tr="urn:iso:std:iso:20022:tech:xsd:camt.029.001.09"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.029.001.09"
    elementFormDefault="qualified">
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="tr:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="tr:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="tr:FinancialInstitutionIdentification16"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="tr:FinancialInstitutionIdentification16_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReason3Choice">
    <xs:choice>
      <xs:element name="Cd" type="tr:ExternalPaymentCancellationRejection1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReason3Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="tr:ExternalPaymentCancellationRejection1Code_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReason4">
    <xs:sequence>
      <xs:element name="Rsn" type="tr:CancellationStatusReason3Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReason4_TCH">
    <xs:sequence>
      <xs:element name="Rsn" type="tr:CancellationStatusReason3Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case5">
    <xs:sequence>
      <xs:element name="Id" type="tr:Max35Text"/>
      <xs:element name="Cretr" type="tr:Party39Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case5_TCH">
    <xs:sequence>
      <xs:element name="Id" type="tr:Max35Text"/>
      <xs:element name="Cretr" type="tr:Party39Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment5">
    <xs:sequence>
      <xs:element name="Id" type="tr:Max35Text"/>
      <xs:element name="Assgnr" type="tr:Party39Choice"/>
      <xs:element name="Assgne" type="tr:Party39Choice"/>
      <xs:element name="CreDtTm" type="tr:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment5_TCH">
    <xs:sequence>
      <xs:element name="Id" type="tr:Max35Text"/>
      <xs:element name="Assgnr" type="tr:Party39Choice_TCH"/>
      <xs:element name="Assgne" type="tr:Party39Choice_TCH"/>
      <xs:element name="CreDtTm" type="tr:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Charges8">
    <xs:sequence>
      <xs:element name="Amt" type="tr:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="Agt" type="tr:BranchAndFinancialInstitutionIdentification6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Charges8_TCH">
    <xs:sequence>
      <xs:element name="Amt" type="tr:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="Agt" type="tr:BranchAndFinancialInstitutionIdentification6_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ClearingChannel2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="MPNS"/>
      <xs:enumeration value="RTGS"/>
      <xs:enumeration value="RTNS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ClearingChannel2Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MPNS"/>
      <xs:enumeration value="RTGS"/>
      <xs:enumeration value="RTNS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="tr:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RsltnOfInvstgtn" type="tr:ResolutionOfInvestigationV09_DRAFT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="RsltnOfInvstgtn" type="tr:ResolutionOfInvestigationV09_DRAFT_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalInvestigationExecutionConfirmation1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalInvestigationExecutionConfirmation1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IPAY"/>
      <xs:enumeration value="PECR"/>
      <xs:enumeration value="RJCR"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentCancellationRejection1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AC04"/>
      <xs:enumeration value="AM04"/>
      <xs:enumeration value="ARDT"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="LEGL"/>
      <xs:enumeration value="NOAS"/>
      <xs:enumeration value="NOOR"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentCancellationRejection1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AC04"/>
      <xs:enumeration value="AM04"/>
      <xs:enumeration value="ARDT"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="LEGL"/>
      <xs:enumeration value="NOAS"/>
      <xs:enumeration value="NOOR"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification16">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="tr:ClearingSystemMemberIdentification2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification16_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="tr:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvestigationStatus5Choice">
    <xs:choice>
      <xs:element name="Conf" type="tr:ExternalInvestigationExecutionConfirmation1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="InvestigationStatus5Choice_TCH">
    <xs:choice>
      <xs:element name="Conf" type="tr:ExternalInvestigationExecutionConfirmation1Code_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Min9Max9Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OriginalGroupHeader18">
    <xs:sequence>
      <xs:element name="RslvdCase" type="tr:Case5" minOccurs="0"/>
      <xs:element name="OrgnlMsgId" type="tr:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="tr:OrigMsgName_2019"/>
      <xs:element name="OrgnlCreDtTm" type="tr:ISODateTime" minOccurs="0"/>
      <xs:element name="CxlStsRsnInf" type="tr:CancellationStatusReason4" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupHeader18_TCH">
    <xs:sequence>
      <xs:element name="RslvdCase" type="tr:Case5_TCH"/>
      <xs:element name="OrgnlMsgId" type="tr:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="tr:OrigMsgName_2019_TCH"/>
      <xs:element name="OrgnlCreDtTm" type="tr:ISODateTime"/>
      <xs:element name="CxlStsRsnInf" type="tr:CancellationStatusReason4_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrigMsgName_2019">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acmt.022.001.03"/>
      <xs:enumeration value="acmt.023.001.03"/>
      <xs:enumeration value="acmt.024.001.03"/>
      <xs:enumeration value="admi.002.001.01"/>
      <xs:enumeration value="admi.004.001.02"/>
      <xs:enumeration value="admn.001.001.01"/>
      <xs:enumeration value="admn.002.001.01"/>
      <xs:enumeration value="admn.003.001.01"/>
      <xs:enumeration value="admn.004.001.01"/>
      <xs:enumeration value="admn.005.001.01"/>
      <xs:enumeration value="admn.006.001.01"/>
      <xs:enumeration value="admn.007.001.01"/>
      <xs:enumeration value="admn.008.001.01"/>
      <xs:enumeration value="camt.026.001.07"/>
      <xs:enumeration value="camt.028.001.09"/>
      <xs:enumeration value="camt.029.001.09"/>
      <xs:enumeration value="camt.035.001.05"/>
      <xs:enumeration value="camt.056.001.08"/>
      <xs:enumeration value="pacs.002.001.10"/>
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:enumeration value="pacs.009.001.08"/>
      <xs:enumeration value="pacs.028.001.02"/>
      <xs:enumeration value="pain.013.001.07"/>
      <xs:enumeration value="pain.014.001.07"/>
      <xs:enumeration value="remt.001.001.04"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrigMsgName_2019_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="camt.056.001.08"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Party39Choice">
    <xs:choice>
      <xs:element name="Agt" type="tr:BranchAndFinancialInstitutionIdentification6"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice_TCH">
    <xs:choice>
      <xs:element name="Agt" type="tr:BranchAndFinancialInstitutionIdentification6_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction100">
    <xs:sequence>
      <xs:element name="CxlStsId" type="tr:Max35Text" minOccurs="0"/>
      <xs:element name="RsltnRltdInf" type="tr:ResolutionInformation3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction100_TCH">
    <xs:sequence>
      <xs:element name="CxlStsId" type="tr:Max35Text" minOccurs="0"/>
      <xs:element name="RsltnRltdInf" type="tr:ResolutionInformation3_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionInformation3">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="tr:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="tr:ISODate" minOccurs="0"/>
      <xs:element name="ClrChanl" type="tr:ClearingChannel2Code" minOccurs="0"/>
      <xs:element name="Chrgs" type="tr:Charges8" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionInformation3_TCH">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="tr:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="tr:ISODate" minOccurs="0"/>
      <xs:element name="ClrChanl" type="tr:ClearingChannel2Code_TCH" minOccurs="0"/>
      <xs:element name="Chrgs" type="tr:Charges8_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionOfInvestigationV09_DRAFT">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Assgnmt" type="tr:CaseAssignment5"/>
      <xs:element name="Sts" type="tr:InvestigationStatus5Choice"/>
      <xs:element name="CxlDtls" type="tr:UnderlyingTransaction22"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionOfInvestigationV09_DRAFT_TCH">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Assgnmt" type="tr:CaseAssignment5_TCH"/>
      <xs:element name="Sts" type="tr:InvestigationStatus5Choice_TCH"/>
      <xs:element name="CxlDtls" type="tr:UnderlyingTransaction22_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction22">
    <xs:sequence>
      <xs:element name="OrgnlGrpInfAndSts" type="tr:OriginalGroupHeader18" minOccurs="0"/>
      <xs:element name="TxInfAndSts" type="tr:PaymentTransaction100" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction22_TCH">
    <xs:sequence>
      <xs:element name="OrgnlGrpInfAndSts" type="tr:OriginalGroupHeader18_TCH"/>
      <xs:element name="TxInfAndSts" type="tr:PaymentTransaction100_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
