src/main/resources/iso-all/messages_urn_iso_std_iso_20022_tech_xsd_camt.056.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:rt="urn:iso:std:iso:20022:tech:xsd:camt.056.001.08"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.056.001.08"
    elementFormDefault="qualified">
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="rt:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="rt:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="rt:FinancialInstitutionIdentification16"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="rt:FinancialInstitutionIdentification16_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationReason33Choice">
    <xs:choice>
      <xs:element name="Cd" type="rt:ExternalCancellationReason1Code"/>
      <xs:element name="Prtry" type="rt:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CancellationReason33Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="rt:ExternalCancellationReason1Code_TCH"/>
      <xs:element name="Prtry" type="rt:Max35Text_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Case5">
    <xs:sequence>
      <xs:element name="Id" type="rt:Max35Text"/>
      <xs:element name="Cretr" type="rt:Party39Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case5_TCH">
    <xs:sequence>
      <xs:element name="Id" type="rt:Max35Text"/>
      <xs:element name="Cretr" type="rt:Party39Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment5">
    <xs:sequence>
      <xs:element name="Id" type="rt:Max35Text"/>
      <xs:element name="Assgnr" type="rt:Party39Choice"/>
      <xs:element name="Assgne" type="rt:Party39Choice"/>
      <xs:element name="CreDtTm" type="rt:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment5_TCH">
    <xs:sequence>
      <xs:element name="Id" type="rt:Max35Text_TCH"/>
      <xs:element name="Assgnr" type="rt:Party39Choice_TCH"/>
      <xs:element name="Assgne" type="rt:Party39Choice_TCH"/>
      <xs:element name="CreDtTm" type="rt:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="rt:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="PhneNb" type="rt:PhoneNumber" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="rt:ISODate"/>
      <xs:element name="CityOfBirth" type="rt:Max35Text"/>
      <xs:element name="CtryOfBirth" type="rt:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtCxlReq" type="rt:FIToFIPaymentCancellationRequestV08_DRAFT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="FIToFIPmtCxlReq" type="rt:FIToFIPaymentCancellationRequestV08_DRAFT_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalCancellationReason1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCancellationReason1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AC03"/>
      <xs:enumeration value="AM09"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="DS24"/>
      <xs:enumeration value="DUPL"/>
      <xs:enumeration value="FRAD"/>
      <xs:enumeration value="FRTR"/>
      <xs:enumeration value="TECH"/>
      <xs:enumeration value="UPAY"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification16">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="rt:ClearingSystemMemberIdentification2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification16_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="rt:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentCancellationRequestV08_DRAFT">
    <xs:annotation>
      <xs:documentation source="ChangeDate">11/12/2018</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Assgnmt" type="rt:CaseAssignment5"/>
      <xs:element name="Case" type="rt:Case5"/>
      <xs:element name="Undrlyg" type="rt:UnderlyingTransaction23"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentCancellationRequestV08_DRAFT_TCH">
    <xs:annotation>
      <xs:documentation source="ChangeDate">11/12/2018</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Assgnmt" type="rt:CaseAssignment5_TCH"/>
      <xs:element name="Case" type="rt:Case5_TCH"/>
      <xs:element name="Undrlyg" type="rt:UnderlyingTransaction23_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="rt:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WIAM"/>
      <xs:enumeration value="WICT"/>
      <xs:enumeration value="WIDP"/>
      <xs:enumeration value="WIFD"/>
      <xs:enumeration value="WIFT"/>
      <xs:enumeration value="WITH"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Min9Max9Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="LEI" type="rt:LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="rt:GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH">
    <xs:sequence>
      <xs:element name="Othr" type="rt:GenericOrganisationIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH_2">
    <xs:sequence>
      <xs:element name="LEI" type="rt:LEIIdentifier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupHeader15">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="rt:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="rt:OrigMsgName_2019"/>
      <xs:element name="OrgnlCreDtTm" type="rt:ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupHeader15_TCH">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="rt:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="rt:OrigMsgName_2019_TCH"/>
      <xs:element name="OrgnlCreDtTm" type="rt:ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference28">
    <xs:sequence>
      <xs:element name="Dbtr" type="rt:Party39Choice" minOccurs="0"/>
      <xs:element name="Cdtr" type="rt:Party39Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference28_TCH">
    <xs:sequence>
      <xs:element name="Dbtr" type="rt:Party39Choice_TCH_2" minOccurs="0"/>
      <xs:element name="Cdtr" type="rt:Party39Choice_TCH_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrigMsgName_2019">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acmt.022.001.03"/>
      <xs:enumeration value="acmt.023.001.03"/>
      <xs:enumeration value="acmt.024.001.03"/>
      <xs:enumeration value="admi.002.001.01"/>
      <xs:enumeration value="admi.004.001.02"/>
      <xs:enumeration value="admn.001.001.01"/>
      <xs:enumeration value="admn.002.001.01"/>
      <xs:enumeration value="admn.003.001.01"/>
      <xs:enumeration value="admn.004.001.01"/>
      <xs:enumeration value="admn.005.001.01"/>
      <xs:enumeration value="admn.006.001.01"/>
      <xs:enumeration value="admn.007.001.01"/>
      <xs:enumeration value="admn.008.001.01"/>
      <xs:enumeration value="camt.026.001.07"/>
      <xs:enumeration value="camt.028.001.09"/>
      <xs:enumeration value="camt.029.001.09"/>
      <xs:enumeration value="camt.035.001.05"/>
      <xs:enumeration value="camt.056.001.08"/>
      <xs:enumeration value="pacs.002.001.10"/>
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:enumeration value="pacs.009.001.08"/>
      <xs:enumeration value="pacs.028.001.02"/>
      <xs:enumeration value="pain.013.001.07"/>
      <xs:enumeration value="pain.014.001.07"/>
      <xs:enumeration value="remt.001.001.04"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrigMsgName_2019_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:enumeration value="pain.013.001.07"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="rt:OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="rt:PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH">
    <xs:choice>
      <xs:element name="OrgId" type="rt:OrganisationIdentification29_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_2">
    <xs:choice>
      <xs:element name="OrgId" type="rt:OrganisationIdentification29_TCH_2"/>
      <xs:element name="PrvtId" type="rt:PersonIdentification13_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice">
    <xs:choice>
      <xs:element name="Pty" type="rt:PartyIdentification135"/>
      <xs:element name="Agt" type="rt:BranchAndFinancialInstitutionIdentification6"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice_TCH">
    <xs:choice>
      <xs:element name="Agt" type="rt:BranchAndFinancialInstitutionIdentification6_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice_TCH_2">
    <xs:choice>
      <xs:element name="Pty" type="rt:PartyIdentification135_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party39Choice_TCH_3">
    <xs:choice>
      <xs:element name="Pty" type="rt:PartyIdentification135_TCH_3"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="rt:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="rt:PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="rt:Party38Choice" minOccurs="0"/>
      <xs:element name="CtctDtls" type="rt:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH">
    <xs:sequence>
      <xs:element name="Nm" type="rt:Max140Text" minOccurs="0"/>
      <xs:element name="Id" type="rt:Party38Choice_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_2">
    <xs:sequence>
      <xs:element name="Nm" type="rt:Max140Text"/>
      <xs:element name="PstlAdr" type="rt:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="rt:Party38Choice_TCH_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_3">
    <xs:sequence>
      <xs:element name="Nm" type="rt:Max140Text"/>
      <xs:element name="PstlAdr" type="rt:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="rt:Party38Choice_TCH_2" minOccurs="0"/>
      <xs:element name="CtctDtls" type="rt:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCancellationReason5">
    <xs:sequence>
      <xs:element name="Orgtr" type="rt:PartyIdentification135" minOccurs="0"/>
      <xs:element name="Rsn" type="rt:CancellationReason33Choice" minOccurs="0"/>
      <xs:element name="AddtlInf" type="rt:Max105Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCancellationReason5_TCH">
    <xs:sequence>
      <xs:element name="Orgtr" type="rt:PartyIdentification135_TCH" minOccurs="0"/>
      <xs:element name="Rsn" type="rt:CancellationReason33Choice_TCH"/>
      <xs:element name="AddtlInf" type="rt:Max105Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction106">
    <xs:sequence>
      <xs:element name="OrgnlInstrId" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlClrSysRef" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlIntrBkSttlmAmt" type="rt:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="OrgnlIntrBkSttlmDt" type="rt:ISODate" minOccurs="0"/>
      <xs:element name="CxlRsnInf" type="rt:PaymentCancellationReason5" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OrgnlTxRef" type="rt:OriginalTransactionReference28" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction106_TCH">
    <xs:sequence>
      <xs:element name="OrgnlInstrId" type="rt:Max35Text"/>
      <xs:element name="OrgnlEndToEndId" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="rt:Max35Text"/>
      <xs:element name="OrgnlClrSysRef" type="rt:Max35Text"/>
      <xs:element name="OrgnlIntrBkSttlmAmt" type="rt:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="OrgnlIntrBkSttlmDt" type="rt:ISODate"/>
      <xs:element name="CxlRsnInf" type="rt:PaymentCancellationReason5_TCH"/>
      <xs:element name="OrgnlTxRef" type="rt:OriginalTransactionReference28_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="rt:DateAndPlaceOfBirth1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="rt:DateAndPlaceOfBirth1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="StrtNm" type="rt:Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="rt:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="rt:Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="rt:Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="rt:CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="rt:Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress24_TCH">
    <xs:sequence>
      <xs:element name="StrtNm" type="rt:Max70Text"/>
      <xs:element name="BldgNb" type="rt:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="rt:Max16Text"/>
      <xs:element name="TwnNm" type="rt:Max35Text"/>
      <xs:element name="CtrySubDvsn" type="rt:Max35Text"/>
      <xs:element name="Ctry" type="rt:CountryCode"/>
      <xs:element name="AdrLine" type="rt:Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction23">
    <xs:sequence>
      <xs:element name="OrgnlGrpInfAndCxl" type="rt:OriginalGroupHeader15" minOccurs="0"/>
      <xs:element name="TxInf" type="rt:PaymentTransaction106" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction23_TCH">
    <xs:sequence>
      <xs:element name="OrgnlGrpInfAndCxl" type="rt:OriginalGroupHeader15_TCH"/>
      <xs:element name="TxInf" type="rt:PaymentTransaction106_TCH"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
