src/main/resources/iso-all/messages_urn_iso_std_iso_20022_tech_xsd_pacs.002.001.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ps="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.10"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.10"
    elementFormDefault="qualified">
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ps:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ps:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="ps:FinancialInstitutionIdentification16"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="ps:FinancialInstitutionIdentification16_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="ps:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsRpt" type="ps:FIToFIPaymentStatusReportV10_DRAFT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsRpt" type="ps:FIToFIPaymentStatusReportV10_DRAFT_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalPaymentTransactionStatus1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentTransactionStatus1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTC"/>
      <xs:enumeration value="ACWP"/>
      <xs:enumeration value="RCVD"/>
      <xs:enumeration value="RJCT"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalStatusReason1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AC02"/>
      <xs:enumeration value="AC03"/>
      <xs:enumeration value="AC04"/>
      <xs:enumeration value="AC06"/>
      <xs:enumeration value="AC07"/>
      <xs:enumeration value="AG01"/>
      <xs:enumeration value="AG03"/>
      <xs:enumeration value="AGNT"/>
      <xs:enumeration value="AM02"/>
      <xs:enumeration value="AM04"/>
      <xs:enumeration value="AM09"/>
      <xs:enumeration value="AM11"/>
      <xs:enumeration value="AM12"/>
      <xs:enumeration value="AM13"/>
      <xs:enumeration value="AM14"/>
      <xs:enumeration value="BE04"/>
      <xs:enumeration value="BE06"/>
      <xs:enumeration value="BE07"/>
      <xs:enumeration value="BE10"/>
      <xs:enumeration value="BE11"/>
      <xs:enumeration value="BE13"/>
      <xs:enumeration value="BE14"/>
      <xs:enumeration value="BE16"/>
      <xs:enumeration value="BE17"/>
      <xs:enumeration value="DS0H"/>
      <xs:enumeration value="DS24"/>
      <xs:enumeration value="DT04"/>
      <xs:enumeration value="DUPL"/>
      <xs:enumeration value="FF02"/>
      <xs:enumeration value="FF03"/>
      <xs:enumeration value="FF08"/>
      <xs:enumeration value="MD07"/>
      <xs:enumeration value="NARR"/>
      <xs:enumeration value="RC01"/>
      <xs:enumeration value="RC02"/>
      <xs:enumeration value="RC03"/>
      <xs:enumeration value="RC04"/>
      <xs:enumeration value="TM01"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification16">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="ps:ClearingSystemMemberIdentification2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification16_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="ps:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusReportV10_DRAFT">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="ps:GroupHeader91"/>
      <xs:element name="OrgnlGrpInfAndSts" type="ps:OriginalGroupHeader17"/>
      <xs:element name="TxInfAndSts" type="ps:PaymentTransaction110"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusReportV10_DRAFT_TCH">
    <xs:annotation>
      <xs:documentation source="ChangeDate">01/2019</xs:documentation>
      <xs:documentation source="ChangeUser">VocaLink</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="ps:GroupHeader91_TCH"/>
      <xs:element name="OrgnlGrpInfAndSts" type="ps:OriginalGroupHeader17_TCH"/>
      <xs:element name="TxInfAndSts" type="ps:PaymentTransaction110_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader91">
    <xs:sequence>
      <xs:element name="MsgId" type="ps:Max35Text"/>
      <xs:element name="CreDtTm" type="ps:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader91_TCH">
    <xs:sequence>
      <xs:element name="MsgId" type="ps:Max35Text_TCH"/>
      <xs:element name="CreDtTm" type="ps:ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Min9Max9Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OriginalGroupHeader17">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="ps:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="ps:OrigMsgName_2019"/>
      <xs:element name="OrgnlCreDtTm" type="ps:ISODateTime" minOccurs="0"/>
      <xs:element name="OrgnlNbOfTxs" type="ps:Max15NumericText" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupHeader17_TCH">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="ps:Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="ps:OrigMsgName_2019_TCH"/>
      <xs:element name="OrgnlCreDtTm" type="ps:ISODateTime"/>
      <xs:element name="OrgnlNbOfTxs" type="ps:Max15NumericText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference28">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="ps:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ps:ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrigMsgName_2019">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acmt.022.001.02"/>
      <xs:enumeration value="admi.002.001.01"/>
      <xs:enumeration value="admi.004.001.02"/>
      <xs:enumeration value="admn.001.001.01"/>
      <xs:enumeration value="admn.002.001.01"/>
      <xs:enumeration value="admn.003.001.01"/>
      <xs:enumeration value="admn.004.001.01"/>
      <xs:enumeration value="admn.005.001.01"/>
      <xs:enumeration value="admn.006.001.01"/>
      <xs:enumeration value="admn.007.001.01"/>
      <xs:enumeration value="admn.008.001.01"/>
      <xs:enumeration value="camt.026.001.07"/>
      <xs:enumeration value="camt.028.001.09"/>
      <xs:enumeration value="camt.029.001.09"/>
      <xs:enumeration value="camt.035.001.05"/>
      <xs:enumeration value="camt.056.001.08"/>
      <xs:enumeration value="pacs.002.001.10"/>
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:enumeration value="pacs.009.001.08"/>
      <xs:enumeration value="pacs.028.001.03"/>
      <xs:enumeration value="pain.013.001.07"/>
      <xs:enumeration value="pain.014.001.07"/>
      <xs:enumeration value="remt.001.001.04"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrigMsgName_2019_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acmt.022.001.02"/>
      <xs:enumeration value="camt.026.001.07"/>
      <xs:enumeration value="camt.028.001.09"/>
      <xs:enumeration value="camt.029.001.09"/>
      <xs:enumeration value="camt.035.001.05"/>
      <xs:enumeration value="camt.056.001.08"/>
      <xs:enumeration value="pacs.002.001.10"/>
      <xs:enumeration value="pacs.008.001.08"/>
      <xs:enumeration value="pacs.009.001.08"/>
      <xs:enumeration value="pacs.028.001.03"/>
      <xs:enumeration value="pain.013.001.07"/>
      <xs:enumeration value="pain.014.001.07"/>
      <xs:enumeration value="remt.001.001.04"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTransaction110">
    <xs:sequence>
      <xs:element name="OrgnlInstrId" type="ps:Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="ps:Max35Text" minOccurs="0"/>
      <xs:element name="TxSts" type="ps:ExternalPaymentTransactionStatus1Code" minOccurs="0"/>
      <xs:element name="StsRsnInf" type="ps:StatusReasonInformation12" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccptncDtTm" type="ps:ISODateTime" minOccurs="0"/>
      <xs:element name="ClrSysRef" type="ps:Max35Text" minOccurs="0"/>
      <xs:element name="InstgAgt" type="ps:BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="InstdAgt" type="ps:BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="OrgnlTxRef" type="ps:OriginalTransactionReference28" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction110_TCH">
    <xs:sequence>
      <xs:element name="OrgnlInstrId" type="ps:Max35Text"/>
      <xs:element name="OrgnlTxId" type="ps:Max35Text" minOccurs="0"/>
      <xs:element name="TxSts" type="ps:ExternalPaymentTransactionStatus1Code_TCH"/>
      <xs:element name="StsRsnInf" type="ps:StatusReasonInformation12_TCH" minOccurs="0"/>
      <xs:element name="AccptncDtTm" type="ps:ISODateTime"/>
      <xs:element name="ClrSysRef" type="ps:Max35Text" minOccurs="0"/>
      <xs:element name="InstgAgt" type="ps:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="InstdAgt" type="ps:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="OrgnlTxRef" type="ps:OriginalTransactionReference28" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProprietaryReasonCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1100"/>
      <xs:enumeration value="9909"/>
      <xs:enumeration value="9910"/>
      <xs:enumeration value="9912"/>
      <xs:enumeration value="9934"/>
      <xs:enumeration value="9946"/>
      <xs:enumeration value="9947"/>
      <xs:enumeration value="9948"/>
      <xs:enumeration value="9952"/>
      <xs:enumeration value="9953"/>
      <xs:enumeration value="9956"/>
      <xs:enumeration value="9957"/>
      <xs:enumeration value="9964"/>
      <xs:enumeration value="AG03"/>
      <xs:enumeration value="DS0H"/>
      <xs:enumeration value="NOAT"/>
      <xs:enumeration value="RC01"/>
      <xs:enumeration value="RC02"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProprietaryReasonCode_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1100"/>
      <xs:enumeration value="9909"/>
      <xs:enumeration value="9910"/>
      <xs:enumeration value="9912"/>
      <xs:enumeration value="9934"/>
      <xs:enumeration value="9946"/>
      <xs:enumeration value="9947"/>
      <xs:enumeration value="9948"/>
      <xs:enumeration value="9952"/>
      <xs:enumeration value="9953"/>
      <xs:enumeration value="9956"/>
      <xs:enumeration value="9957"/>
      <xs:enumeration value="9964"/>
      <xs:enumeration value="NOAT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StatusReason6Choice">
    <xs:choice>
      <xs:element name="Cd" type="ps:ExternalStatusReason1Code"/>
      <xs:element name="Prtry" type="ps:ProprietaryReasonCode"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="ps:ExternalStatusReason1Code"/>
      <xs:element name="Prtry" type="ps:ProprietaryReasonCode_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation12">
    <xs:sequence>
      <xs:element name="Rsn" type="ps:StatusReason6Choice" minOccurs="0"/>
      <xs:element name="AddtlInf" type="ps:Max105Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation12_TCH">
    <xs:sequence>
      <xs:element name="Rsn" type="ps:StatusReason6Choice_TCH" minOccurs="0"/>
      <xs:element name="AddtlInf" type="ps:Max105Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
